@import './styles/framer-fonts.css';
@import './styles/framer-breakpoints.css';
@import './styles/framer-ssr.css';
@import './styles/framer-other.css';
@import './styles/backed-by-work.css';
@import './styles/about-orbit.css';
@import './styles/about-enhancements.css';
@import './styles/hero-layout.css';

html,
body {
  margin: 0;
  padding: 0;
  background: var(--token-880999e0-fa5d-4c65-a75a-ae1653ed7391, #fff);
  color: var(--token-fcdd5164-bf55-48ca-a517-fc569e2d93cc, rgb(17, 17, 17));
  font-family: 'Instrument Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
